/* ConfirmarViaje.css */
.confirmar-viaje {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f0eff2;
  }
  
  .confirmar-viaje__header {
    text-align: center;
  }
  
  .confirmar-viaje__title {
    font-weight: bold;
    color: #5508a7;
  }
  
  .confirmar-viaje__label {
    font-weight: bold;
    text-align: left;
    color: #9348e4;
  }
  
  .confirmar-viaje__value {
    text-align: right;
  }
  
  .divider {
    margin: 20px 0;
    background-color: #5508a7;
  }
  
  .chofer-info {
    text-align: center;
  }
  
  .chofer-info__title {
    font-weight: bold;
    color: #5508a7;
  }
  
  .chofer-info__label {
    font-weight: bold;
    text-align: left;
    color: #9348e4;
  }
  
  .chofer-info__value {
    text-align: right;
  }
  
  .comentarios {
    margin-top: 20px;
  }
  